<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Título del dashboard</h1>
    <h2>Subtítulo del dashboard</h2>
    <button onclick="funcion_ejemplo()">Soy un botón, aprétame</button>
    <p>{{params.param_1}}</p>
    <p>{{params.param_2}}</p>
    <p id="demo_js"></p>
</body>
<script>
    function funcion_ejemplo() {
        document.getElementById("demo_js").innerHTML = "wena cabros";
    }
</script>

</html>